/* style.css */
body{
  background: rgb(250,250,250);
  color: grey;
  font-size: 15px;
  font-family: Lato;
}

h1{
  font-family: Lato;
  color: #012A36;
  font-style: bold
  font-weight: lighter;
  font-size: 50px;
}

h2 {
  font-family: Lato;
  color: #012A36;
  font-weight: lighter;
  font-size: 30px;
}

a {
  color: #D295BF;
  font-size: 15px
}
a:hover {
  text-decoration: none;
  color: #E6BCCD;
}

#banner{
  text-align: center;
  background-image: url(https://images.pexels.com/photos/9754/mountains-clouds-forest-fog.jpg?h=350&auto=compress&cs=tinysrgb);
  background-size: cover;
  padding: 150px;

}
#banner h1 {
  color: (25,25,25);
  font-size: 50px;
}
#banner p {
  color: white;
  opacity: 0.8;
  font-size: 30px;
  font-weight: lighter;
}
#footer{
  padding: 30px;
  background: rgb(30, 30, 30);
  color: lightgrey;
}
.card{
  font-weight: lighter;
  padding:50px;
}

.flotte {
float:left;}